In [1]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup

/Users/duweicheng/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
tesla = yf.Ticker("TSLA")
tesla_data = tesla.history(period="max")
# If I print out tesla_data here: the "Date" will become index for this datafram, which is outside of data column
#tesla_data
tesla_data.reset_index(inplace=True) # Ths is the method that resets column "Data" and gives a regular index for the datafram

tesla_data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0
...,...,...,...,...,...,...,...,...
3322,2023-09-11 00:00:00-04:00,264.269989,274.850006,260.609985,273.579987,174667900,0.0,0.0
3323,2023-09-12 00:00:00-04:00,270.760010,278.390015,266.600006,267.480011,135999900,0.0,0.0
3324,2023-09-13 00:00:00-04:00,270.070007,274.980011,268.100006,271.299988,111673700,0.0,0.0
3325,2023-09-14 00:00:00-04:00,271.320007,276.709991,270.420013,276.040009,107709800,0.0,0.0
3326,2023-09-15 00:00:00-04:00,277.549988,278.980011,271.000000,274.390015,133422800,0.0,0.0

In [ ]:
# Using request.get() to extract data form web
url="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
data = requests.get(url).text
# Parsing data by BeautifulSoup and asign it into soup object
soup = BeautifulSoup(data) 

# Analyzing HTML and breaking it down to find the contents I want which are in "tr" tags
tbody = soup.find_all('tbody')
# The second part of tbody is quarterly revenue
secoend_tbody = tbody[1]
tr2 = secoend_tbody.find_all('tr') # Quarterly revenue

lst_revenue=[]
for row in tr2:
    tds = row.find_all('td')
    date = tds[0].text
    price = tds[1].text
    lst_revenue.append({"Date":date, "Revenue":price})
revenue_data_tesla = pd.DataFrame(lst_revenue)

# Data cleaning (coma and dollar sign)
revenue_data_tesla['Revenue'] = revenue_data_tesla['Revenue'].str.replace(',|\$',"", regex=True) 
# Remove null or empty strings
revenue_data_tesla.dropna(inplace=True)
# using (quarter_data['Revenue'] != "") to extract the values that are not empty
revenue_data_tesla= revenue_data_tesla[revenue_data_tesla['Revenue'] != ""]

revenue_data_tesla

In [ ]:
annual_data_df = pd.DataFrame(annual_data)
annual_data_df

In [ ]:
quarter_data_df = pd.DataFrame(quarter_data)
quarter_data_df